<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFIGURACION PERFIL API </title>
</head>
<body>
    <form method="POST" action="/set-up-profile">
        <h3>CONFIGURACION PERFIL API</h3>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>